

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root {
        --primary-color: 204 162 112;
        --secondary-color: 34 34 34;
        --accent-color: 118 118 118;
    }    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;    
    }
    body ::selection {    
            background: rgb(var(--primary-color));
            color: #fff;
    }    
}


@layer components {
    .section {
        padding-top: calc(30px + 3.125vw);
    }
    .container {
        @apply max-w-[1140px] w-full mx-auto;
    }    

    .heading {
        @apply text-secondary text-2xl font-semibold;
    }
    .title {
        @apply text-secondary text-3xl  leading-[48px] font-bold;
    }
    .text_para {
        @apply text-accent text-[18px] leading-[28px] font-semibold;
    }
    .sub_title {
        @apply text-accent text-[20px] leading-[28px] font-semibold;
    }

    .footer_text {
        @apply text-white hover:text-primary sub_title hover:tracking-widest transition-all duration-300 ease-in-out mb-3 cursor-pointer;
    }
}

:where(.css-dev-only-do-not-override-vn1oyg).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: rgb(var(--primary-color));
    border-color: rgb(var(--primary-color));    
}




.ant-carousel .slick-slider button {  
    color: #222;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;   
    opacity: 1;
}

 .ant-carousel .slick-next::after {
    top: 40%;
    left: 30%;
    --tw-translate-y: -50%;
}
.ant-carousel .slick-prev::after {
    top: 40%;
    left: 40%;
    --tw-translate-y: -50%;
}